:root{
    --themeOrange:#f5aa75;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,500;1,800&display=swap');
*:not(.fa,.fas){
  font-family: 'Poppins', sans-serif !important ;
}
.bg-themeOrange{
    background-color: var(--themeOrange) !important;
  }
  .text-themeOrange{
    color: var(--themeOrange) !important;
  }

/* forms */
  .form-group-custom{
position: relative;

}
/* .form-group-custom::before{
position: absolute;
font-size: 1.5rem;
font-family: 'Poppins';
align-items: center;
line-height: 1;
left: 10px;
top:20px;
color: rgb(205, 206, 211) ;
} */
/* .form-group-custom.email::before{
content: '\0040';
}
.form-group-custom.password::before{
content: '\f023';
}
.phone{
    content: "\260F";
} */
.form-group-custom>.form-control{
    background-color: white;
/* padding-left: 40px; */
height: 60px !important;
}

.marginY-5{
    margin-top: 30px;
    margin-bottom: 30px;
}
.font-12px{
    font-size: 12px !important;
}
.font-13px{
    font-size: 13px !important;
}
.font-16px{
    font-size: 16px !important;
}

.font-18px{font-size: 18px !important;}
.font-20px{font-size: 20px !important;}
.font-21px{font-size: 21px !important;}
.font-22px{font-size: 22px !important;}
.text-decoration-underline{
    text-decoration: underline !important;
}
.LoginSection{
    padding: 30px !important;
    background-color: white;
    border-top: 10px solid var(--themeOrange);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* homepage */
.category-card{
    height: 100% !important;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.share-toggle{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px !important;
    color: var(--themeOrange) !important;
}
.share-toggle:before{
display: none;

}
.myRotateBtn{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
}
.your-cart{
    padding-bottom: 30px;
}
@media(max-width:992px){
    #myCarousel .carousel-item h4{
        font-size: 42px !important;
    }
    .class-border-cs{
        border: none;
        padding: 0px;
    }
    .we-offer-area.text-center .item{
        padding: 33px 20px 32px !important;
    }
}

/* product details */
.card-header{
    padding: .75rem 1.25rem !important;
}
.assaasf33d{
    border: none;
    background-color: transparent;
}
.printddhh33d{
    border: 1px solid #E4E6EF !important; 
    background-color: #f9f9f9 !important;
    border-radius: 0px !important;
}
.dec__btn{
    height:31px !important;   
}
.no_input{
    height: 31px !important;
}
.setMinHeight{
    min-height: 70vh;
    height: 100%;
}
/* how it work */
.accordion1 a::after{
    float: none;
    top: 7px;
}
.navLinkMinWidth{
    min-width: 125px;
}

/* user area */
.mtd-2s a{
    padding-top: 9px !important;
    padding-bottom: 9px !important;
}
.sc-hKFyIo p{
margin-bottom: 0px;
}
.sc-hKFyIo{
    text-align: center;
}
.gcXkZv{
justify-content: center;
align-items: center;
}
.DashoardIcon{
    display: inline-block;
    margin-right: 20px;
    height: 20px;
    width: 20px;
}
.DashoardIcon>img{
    width: 19px;
}
.DashoardIcon>img.doller{
    width: 13px;
}
.faqsCards{
    position: relative;
    height: 46px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: white !important;
}
.faqsCards:hover{
    color: var(--themeOrange) !important;
}
.faqsCards:hover::after{
    color: var(--themeOrange);
    border: 1px solid var(--themeOrange);
}
.faqsCards::after{
    content: '+';
    position: absolute;
    float: right;
    right: 1rem;
    font-size: 1rem;
    color: lightgray;
    padding: 4px 5px 0px 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid lightgray;
    text-align: center;
}
.bg-transparent {
    background-color: transparent !important;
}
@media(max-width:767px){
    #myCarousel .carousel-item h4{
        font-size: 25px !important;
    }
    #myCarousel .carousel-item .mask{
        position: static !important;
    }
}
@media only screen and(max-width:700px){
    #myCarousel .carousel-item h4{
        font-size: 25px !important;
    }}
/* dashbord card design */
  /*User Dashboard*/
  .card-counter{
    box-shadow: 2px 2px 10px #DADADA;
    
    padding: 20px 10px;
    background-color: #fff;
    height: 100px;
    border-radius: 5px;
    transition: .3s linear all;
  }

  .card-counter:hover{
    box-shadow: 4px 4px 20px #DADADA;
    transition: .3s linear all;
  }

  .card-counter.primary{
    background-color: #007bff;
    color: #FFF;
  }

  .card-counter.danger{
    background-color: #5c6bc0;
    color: #FFF;
  }  

  .card-counter.success{
    background-color: #27a69b;
    color: #FFF;
  }  

  .card-counter.info{
    background-color: #42a5f6;
    color: #FFF;
  }  

  .card-counter i{
    font-size: 3em;
    opacity: 0.5;
    color: #e7e7ec !important;
  }

  .card-counter .count-numbers{
    position: absolute;
    right: 35px;
    top: 30px;
    font-size: 16px;
    display: block;
    font-weight: bold;
    color: white !important;
  }

  .card-counter .count-name{
    position: absolute;
    right: 35px;
    top: 60px;
    font-weight: bold;
    color: white !important;
    text-transform: capitalize;
    opacity: 0.5;
    display: block;
    font-size: 14px;
  }
  .btn-outline-prm.seHeight{
      min-height: 42px;
      height: 100%;
  }
  .accordian-toggle-specs{
      align-items: center;
  }
  .companyMain{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    max-width: 800px!important;
    margin-top: 5%;
  }
  .bg-gray-cards {
    background-color: #f2f2f2 !important;
    box-shadow: none !important;
    padding-right: 0px !important;
    padding-left: 0px !important;
    border-radius: 0px !important;
    height: 100%;
}
.btn-circle-pack {
    width: 40px;
    height: 40px;
    padding: 6px 0px;
    border-radius: 100px;
    text-align: center;
    font-size: 12px;
    background-color: #f5aa75 !important;
    border: 3px solid white;
    margin-top: -20px;
    line-height: 1.42857;
    z-index: 9999;
    position: absolute;
    box-shadow: none !important;
}
.myTextCenter{
    display: flex;
    flex-direction: column;
    justify-content: center;
}