:root{
    --themeOrange:#f5aa75;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,500;1,800&display=swap');
*:not(.fa,.fas){
  font-family: 'Poppins', sans-serif !important ;
}
.bg-themeOrange{
    background-color: var(--themeOrange) !important;
  }
  .text-themeOrange{
    color: var(--themeOrange) !important;
  }

/* forms */
  .form-group-custom{
position: relative;

}
/* .form-group-custom::before{
position: absolute;
font-size: 1.5rem;
font-family: 'Poppins';
align-items: center;
line-height: 1;
left: 10px;
top:20px;
color: rgb(205, 206, 211) ;
} */
/* .form-group-custom.email::before{
content: '\0040';
}
.form-group-custom.password::before{
content: '\f023';
}
.phone{
    content: "\260F";
} */
.form-group-custom>.form-control{
    background-color: white;
/* padding-left: 40px; */
height: 60px !important;
}

.marginY-5{
    margin-top: 30px;
    margin-bottom: 30px;
}
.font-16px{
    font-size: 16px !important;
}
.font-12px{
    font-size: 12px !important;
}
.font-18px{font-size: 18px !important;}
.font-20px{font-size: 20px !important;}
.font-21px{font-size: 21px !important;}
.font-22px{font-size: 22px !important;}
.text-decoration-underline{
    text-decoration: underline !important;
}
.LoginSection{
    padding: 30px !important;
    background-color: white;
    border-top: 10px solid var(--themeOrange);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* homepage */
.category-card{
    height: 100% !important;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.share-toggle{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px !important;
    color: var(--themeOrange) !important;
}
.share-toggle:before{
display: none;

}
.myRotateBtn{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
}
.your-cart{
    padding-bottom: 30px;
}
@media(max-width:992px){
    #myCarousel .carousel-item h4{
        font-size: 42px !important;
    }
    .class-border-cs{
        border: none;
        padding: 0px;
    }
    .we-offer-area.text-center .item{
        padding: 33px 20px 32px !important;
    }
}

/* product details */
.card-header{
    padding: .75rem 1.25rem !important;
}
.assaasf33d{
    border: none;
    background-color: transparent;
}
.printddhh33d{
    border: 1px solid #E4E6EF !important; 
    background-color: #f9f9f9 !important;
    border-radius: 0px !important;
}
.dec__btn{
    height:31px !important;   
}
.no_input{
    height: 31px !important;
}
.setMinHeight{
    min-height: 70vh;
    height: 100%;
}
/* how it work */
.accordion1 a::after{
    float: none;
    top: 7px;
}
.navLinkMinWidth{
    min-width: 125px;
}
@media(max-width:767px){
    #myCarousel .carousel-item h4{
        font-size: 25px !important;
    }
    #myCarousel .carousel-item .mask{
        position: static !important;
    }
}
@media only screen and(max-width:700px){
    #myCarousel .carousel-item h4{
        font-size: 25px !important;
    }}
